

.box-phrases{
    width: 90%;
    height: 200px;
    position: relative;
    z-index: 2;
}

.box-phrases-son{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.box-phrases-son-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.box-phrases-son-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
 /*   mask-image: linear-gradient(#000000c2 100%,transparent);*/
}

.box-phrases-son-container p{
    font-family: 'Edutas';
    font-size: 20px;
    color: rgb(255,255,255);
    position: relative;
    z-index: 2;
    padding: 10px;
    font-weight: 600;

}




.one{
    z-index: 1;
}

.two{
    z-index: 1;
}

.three{
    z-index: 1;
}

.four{
    z-index: 1;
}

.animation-applied{
    display: block;
    z-index: 3;
}

@media(min-width: 700px){
    .box-phrases{
        width: 54%;
    }
}

@media(min-width: 950px){
    .box-phrases{
        width: 95%;
    }
}